#box{
    height: 100px;
    width: 100px;
    background-color: beige;
    text-align: center;
    text-decoration: line-through wavy;
    text-transform: lowercase;
}
#para{
    line-height: 10px;
}

#head{
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}